.loader {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.view-room-loading {
    border: 8px solid var(--color-primary); 
    border-top: 8px solid var(--color-tertiary);
    border-radius: 50%;
    width:3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}