.badge__container {
    background-color: rgb(163, 163, 163);
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: rgba(83, 83, 83, 0.44) 2px 3px 7px 0px inset;;
}
.badge__container .badge {
    color: rgba(210, 210, 210, 0.722);
    font-size: 4.2rem;
}
.badge-unique {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}