.navbar-item {
    font-size: 25px;
    color: var(--color-blue);
    background-color: var(--color-beige-light);
    width: 50px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(110, 110, 110, 0.104) 0px 3px 5px;
    
}
.navbar-item p {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
