.navbar-item {
    font-size: 23px;
    color: #7e5835;
    background-color: var(--color-beige-light);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(110, 110, 110, 0.288) 0px 3px 5px;
}
