nav {
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-beige);

    padding: 3px 0px;
    height: 50px;

}
ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
ul li {
    list-style: none;
}