nav {
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3px 0px;
    height: 70px;


}
ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
ul li {
    list-style: none;
}