.profile__container {
    background-color: var(--color-secondary);
    border-radius: 15px;
    margin-top: 8rem;
    height: 3000px;
    width: 80%;
    box-shadow: var(--box-shadow-bold);
    z-index: 90;
}
.me img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid whitesmoke;
    filter: drop-shadow(rgba(128, 128, 128, 0.355) 2px 2px 6px);
    margin-right: 30px;
}
.me {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 30px;
}
.me h1 {
    font-size: 40px;
    color: var(--color-black);
    
}
p {

    font-size: 18px;
}