.profile__container {
    background-color: var(--color-secondary);
    border-radius: 15px 15px 0px 0px;
    margin-top: 8rem;
    width: 83%;

    box-shadow: var(--box-shadow-bold);
    z-index: 90;
    color: var(--color-black);
}
.badges-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.6rem;
}

.badge-icon {
    color: var(--color-tertiary);
    font-size: 1.8rem;
}

.badges {
    margin-left: 2.2rem;
    margin-right: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2.8rem;
    margin-top: 2rem;
}
