.profile {
    width: 100vw;
    height: 100vh;
}
.profile__container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.left {
    flex: 2;
    background-color: var(--color-beige);
    border: 1px dotted #b2935b;

}
.center {
    width: 100%;
    z-index: 100;
    flex: 5;
    background-color: #f9f9e7;


}
.right {
    flex: 2;
    background-color: var(--color-beige);
    border: 1px dotted #b2935b;
}
.center__container {
    display: flex;
    flex-direction: column;
    height: 100%;

}
img {
    width: 80%;

}

.band__container {
    height: 30%;
}
.badges__container {
    flex: 4;
}

.create-table {
    background-color: var(--color-beige-light);
    box-shadow: rgba(107, 107, 107, 0.521) 0px 3px 6px;
    width: 180px;
    height: 140px;
    border-radius: 10px;
    margin: 10px;
    color: rgb(83, 83, 83);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.create-table-icon {
    font-size: 25px;
    color: var(--color-brown);
}
.create-table p {
    max-width: 70%;
    text-align: center;
    

}
.create-table__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.left__container {
    height: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-table-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navlist__container {
    border-top: 1px dotted #b2935b;
    border-bottom: 1px dotted #b2935b;
}