/* MENU DASHBOARD */
.dashboard_nav {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin: 0;
}
.dashboard_nav ul {
    display: flex;
    flex-direction: column;
    background-color: var(--dashboard-color-secondary);
    height: 100vh;
    padding-left: 4px;
}
.category__spacing {
    margin-bottom: 20px;
    padding-top: 20px;
}
/* MENU STATE STYLES */
.hide__menu {
    left: -86px;
    transition-duration: 1s;
}
.show__menu {
    left: 0px;
    transition-duration: 1s;
}

/* BUTTON */
.display__button {
    display: flex;
    background-color: var(--dashboard-color-primary);
    border: #000 solid;
    border-width: 1px 1px 1px 0;
    border-end-end-radius: 10%;
    border-start-end-radius: 10%;
    height: fit-content;
    padding: 4px;
    margin-top: 22px;
    cursor: pointer;
}

/* ICON */
.menu__icons {
    height: 20px;
    width: 20px;
}
