.grid_content {
    border: #5c56927a solid 1px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

.grid_header {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
    border: #5c56927a solid 1px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    margin-bottom: -1px;
    gap: 10px;
}

.grid_items {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
    gap: 10px;
}

.grid_items:nth-child(even) {
    background-color: #8a81da7a;
    box-shadow: inset 2px 2px 5px 0px #6f66af7a;
}
.grid_items:hover {
    background-color: #5e58967a;
}

.grid_img {
    grid-column: span 1 / span 1;
    grid-column-start: 1;
}

.grid_name {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
}

.grid_email {
    grid-column: span 3 / span 3;
    grid-column-start: 5;
}

.grid_role {
    grid-column: span 1 / span 1;
    grid-column-start: 8;
}

.grid_alert {
    grid-column: span 1 / span 1;
    grid-column-start: 9;
}

.grid_actions {
    grid-column: span 2 / span 2;
    grid-column-start: 10;
}

.dashboard_user_img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.see_more_button {
    background-color: transparent;
    height: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.see_more_icon {
    height: 20px;
    width: 20px;
    color: var(--dashboard-color-secondary);
}

.see_more_icon:hover {
    color: #423d77;
}

.actions__container {
    flex-direction: row;
    justify-content: space-between;
}

.grid_name,
.grid_img,
.grid_email,
.grid_actions,
.grid_alert,
.grid_role {
    display: flex;
    align-items: center;
}

.alert_icons {
    height: 20px;
    width: 20px;
    color: #ac2c2c;
}

.alert_icons_container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
}

.test {
    position: relative;
}

.report_notification {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: x-small;
    font-weight: 600;
    height: 8px;
    width: 8px;
    color: #ac2c2c;
}
