.search-bar-guest select {
	text-transform: capitalize;
	-webkit-appearance: none;
	-moz-appearance: none;
    width: 150%;
    height: 2rem;
    padding: 0.2rem 0.5rem;
    color: var(--color-black);
    text-align: center;
    border-radius: 10px;
    margin-top: -1rem;
}

.search-bar-guest select:focus {
	border: 1px solid var(--color-tertiary);
	outline: none;
}
