.room-icon .icon {
    font-size: 2.3rem;
    color: var(--color-black);
}
@media only screen and (max-width: 390px) {
    .room-icon .icon {
        font-size: 2.2rem;
        color: var(--color-black);
    }
}
@media only screen and (max-width: 320px) {
    .room-icon .icon {
        font-size: 2.1rem;
        color: var(--color-black);
    }
}
