.view-room-title {
    font-weight: 600;
    color: var(--color-tertiary);
    font-size: 3rem;
    text-transform: uppercase;
    max-width: 400px;
    margin-bottom: 1rem;
}
.view-room-section {
    font-weight: 600;
}