/* ================== GOLBAL LAYOUT ================== */
.layout {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.layout__container {
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.left {
    width: 100%;
    height: 100%;
    flex: 1;
}
.center {
    width: 100%;
    height: 100%;
    flex: 3;
}

.right {
    width: 100%;
    height: 100%;
    flex: 1;
}


/* ================== CENTER LAYOUT ================== */
.center__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* NAVLIST */
.navlist__container {
    z-index: 100;
    width: 60%;
    margin: 0 auto;
    background-color: var(--color-primary);
    top: 0;
    z-index: 99;
    position: fixed;
}
/* CHILDREN PAGE */
.children-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.children-page__container {
    background-color: var(--color-secondary);
    border-radius: 15px;
    margin-top: 8rem;
    width: 83%;
    box-shadow: var(--box-shadow-bold);
    z-index: 90;
    color: var(--color-black);
}







