.headband__container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--color-black);
}
.headband__container img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
}
.headband-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headband-location {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.headband-name {
    text-align: center;
}
.headband-name p {
    font-size: 3rem;
    font-weight: 500;
    color: var(--color-tertiary);
    text-transform: uppercase;
}
.headband-name p:nth-child(1) {
    margin-bottom: -1.3rem;
}