.dashboard_user_title {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.dashboard_user_title p {
    font-size: 42px;
    color: var(--color-black);
}
.dashboard_user_icon {
    height: 42px;
    width: 42px;
    color: var(--dashboard-color-secondary);
}
