.friend-picture {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 25px;
}

.contact_friends_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    gap: 2rem;
    margin-top: 1rem;
    border-radius: 25px;
    border: var(--color-primary) 2px solid;
    text-transform: capitalize;
}

.contact_friends_container:hover {
    background-color: var(--color-primary);
}

.navlink_friend_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--color-black);
    width: 100%;
}

.button_container {
    display: flex;
    align-items: center;
    gap: 5px;
}
