.friend-picture {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 25px;
}

.contact_friends_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    gap: 2rem;
    margin-top: 1rem;
    border-radius: 25px;
    border: var(--color-primary) 2px solid;
    text-transform: capitalize;
}

.contact_friends_container:hover {
    background-color: var(--color-primary);
}

.navlink_friend_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--color-black);
    width: 100%;
}

.button_container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.add_friend_navlink {
    width: fit-content;
    padding: 0.2rem 0.6rem;
    border-radius: 10px;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    font-weight: 600;
    align-self: center;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    box-shadow: rgb(110 110 110 / 12%) 0px 2px 5px;
    cursor: pointer;
}

.add_friend_navlink a {
    color: var(--color-secondary);
    text-decoration: none;
}

.add_friend_navlink:hover {
    background-color: #a7704c;
}
.contact-friends-btn-large {
    display: block; 
}
.contact-friends-btn-small {
    display: none; 
}


@media only screen and (max-width: 500px) {
    .friend-picture {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        border-radius: 25px;
    }
    .contact_friends_container {
        gap: 1rem;
    }
}
@media only screen and (max-width: 440px) {
    .friend-picture {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        border-radius: 25px;
    }
    .contact-friends-btn-large {
        display: none; 
    }
    .contact-friends-btn-small {
        display: block; 
    }
    .trash-icon {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 350px) {
    .friend-picture {
        width: 3.5rem;
        height: 3.5rem;
        object-fit: cover;
        border-radius: 25px;
    }
    .trash-icon {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 310px) {
    .contact_friends_container {
        gap: 0.5rem;
    }
    .friend-picture {
        margin-right: -0.5rem;
    }
    .trash-icon {
        font-size: 1rem;
    }
}