

.noUserFound{
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: var(--color-primary); */
}

.UserToSearch img {
    height: 300px;
    width: auto;
}
.SryNoUserFound img {
    height: 300px;
    width: 300px;
}

#addButton {
  font-size: 15px;
  height: 20px;
  width: auto;
  color: var(--color-ter);
  padding: 10px, 10px, 10px, 10px;
  justify-content: center;
  /* background-color: black */
}

