.loading__container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: #5c56927a solid;
    border-width: 1px;
    border-radius: 25px;
    background-color: #f0efef;
    box-shadow: var(--box-shadow-dashboard);
}
.no_profile_img {
    height: 200px;
    width: 200px;
    background-color: #5c56927a;
    border-radius: 50%;
}
