.profile__container {
    color: var(--color-black);
}
.badges-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.6rem;
}
.badge-icon {
    color: var(--color-tertiary);
    font-size: 1.8rem;
}
.badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1.3rem;
    margin: 2rem 2.2rem
}

@media only screen and (max-width: 1120px) {
    .badges {
        gap: 1.8rem;
    }
} 

@media only screen and (max-width: 800px) { 
    .badges {
        gap: 2.2rem;
    }
} 

@media only screen and (max-width: 600px) { 
    .badges {
        gap: 2rem;
    }
} 

@media only screen and (max-width: 460px) { 
    .badges {
        gap: 1.4rem;
    }
    .badges-title {
        font-size: 1.5rem;
    }
    .badge-icon {
        font-size: 1.6rem;
    }
    .badges {
        margin: 1.3rem;
    }
}

@media only screen and (max-width: 340px) {
    .badges {
        gap: 1rem;
    }
}
@media only screen and (max-height: 700px) {
    .badges {
        gap: 1.4rem;
    }
    .badges {
        margin: 1.3rem;
    }
}
