.contact__container {
    cursor: pointer;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--color-primary);
    font-size: 0.9rem;
    box-shadow: rgba(110, 110, 110, 0.112) 0px 1px 6px;
    border-radius: 50px 20px 20px 50px;
    color: var(--color-black);
}
.contact__container img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}
.contact__container p {
    font-weight: 500;
}
