.pres__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pres__container .logo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.pres__container .logo img{
    width:65%;
}

@media only screen and (max-width: 700px) {
    .pres__container {
        display: none;
    }
}