.logo__container>img {
    position: absolute;
    max-width: 200px;   
    object-fit: cover; 
}
.logo__container {

    margin-top: 1.8rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    height: 25%;
}
.left__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 1rem;
}
.create-rooms__container {
    height: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
