* {
  margin: 0;
  padding: 0;
  list-style: none;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-beige: #ebe4b3;
  --color-beige-light: #f9f9e7;
  --color-black-light: #474747;
  --color-red: #a42424;
  --color-brown: #7e5835;
  --color-light-brown: #b2935b;
}