* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --color-beige: #F6F4DF;
  --color-beige-light: #f9f9e7;
  --color-black-light: #474747;
  --color-red: #a42424;
  --color-blue: #35527e;
  --color-light-brown: #b2935b;
  --box-shadow-bold: rgba(107, 107, 107, 0.521) 0px 3px 6px;
}