<<<<<<< HEAD
=======

>>>>>>> feature/userHeadband
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary);
}

:root {
  --color-primary: #f4f3e2;
  --color-secondary: #f9f9ee;
  --color-tertiary: #c8865a;
  --color-black: #3d3d3d;
  --color-red: #a42424;
  --box-shadow-light: rgba(110, 110, 110, 0.050) 0px 3px 5px;
<<<<<<< HEAD
}

=======
}
>>>>>>> feature/userHeadband
